<!-- @if (item) {
<p>edit-data works! ,{{ item.id }} {{ item.name }}</p>

} -->

<form [formGroup]="userData" class="row g-3 mt-5 p-5">
  <div class="col-md-6">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      formControlName="name"
      placeholder="Enter your name"
    />
    <small class="text-danger">{{
      getErrorMessage("name", "Name is required", 4, 10)
    }}</small>
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
      placeholder="Enter your email"
    />
    <small class="text-danger">{{
      getErrorMessage("email", "Email is required")
    }}</small>
  </div>
  <div class="col-md-6">
    <label for="contactNumber" class="form-label">Contact Number</label>
    <input
      type="text"
      class="form-control"
      id="contactNumber"
      formControlName="contactNumber"
      placeholder="Enter your contact number"
    />
    <small class="text-danger">{{
      getErrorMessage("contactNumber", "Contact is required", 10, 10)
    }}</small>
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      formControlName="password"
      placeholder="Enter your password"
    />
    <small class="text-danger">{{
      getErrorMessage("password", "Password is required", 5, 15)
    }}</small>
  </div>
  <div class="col-md-6">
    <label for="profile" class="form-label">Profile</label>
    <input
      type="text"
      class="form-control"
      id="profile"
      formControlName="profile"
      placeholder="Enter your profile"
    />
    <small class="text-danger">{{
      getErrorMessage("profile", "Profile is required", undefined, 10)
    }}</small>
  </div>
  <div>
    <button
      type="submit"
      class="btn btn-warning fw-medium"
      (click)="updatedData(userData.value)"
    >
      Update
    </button>
    <button
      type="submit"
      class="btn btn-primary mx-4 fw-medium"
      (click)="goToBackPath()"
    >
      Back
    </button>
  </div>
</form>
